<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="../styles/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
  <%if(user.type=="new"){%>
  <form action="/login" method="get">
    Username:<input type="text" id="enter_name_input" name="player_name"><br>
    Password:<input type="password" id="enter_password_input" name="password"><br>
    Firstname:<input type="text" id="enter_firstname_input" name="firstname"><br>
    Lastname: <input type="text" id="enter_lastname_input" name="lastname"><br>
    Type: <input type="radio" id="type" name="type"<br>
    <button type="submit" id = "enter_name_button">Submit Name</button>
  </form>
  <%}else{%>
    <h2>User Details - <%=user.name%></h2>
    <br>
      Name: <%=user.name%><br>
      Password: <%=user.password%><br>
      First Name: <%=user.firstname%><br>
      Last Name: <%=user.lastname%><br>
    <form action="'/user/<%=user.name%>" method="delete">
    <button type="submit" id = "delete_account_button">Delete Account
    </button>
    </form>
  <%}%>
</div>

<!--  The account creation date and last account update date should be displayed on user_details.ejs
 Disallow duplicate usernames
 Disallow the creation/update of accounts with missing information
 A user may not login without first creating an account
 Users should be able to delete their account from this page via a “Delete Account” button. The “Delete Account” button should not appear if a user is creating an account. -->

  </div>
  <footer>
    Brought to you by Mit Ramesh, Henry Shuster and Geordie Young. Spring, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
